<%= form_for @arrendatario, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :nombre, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nombre, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rut, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :rut, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telefono, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :telefono, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mail, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mail, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_digest, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :password_digest, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  arrendatarios_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
